{% extends 'base.html.twig' %}

{% block title %}
	{{ slug }}
{% endblock %}

{% block body %}

	<div class="media">
		<img class="img-thumbnail align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
		<div class="media-body">
			<h1>{{ program.title }}</h1>
			<p>{{ program.summary }}</p>
			<p>Categorie :
				{{ program.category.name }}</p>
		</div>
	</div>

	<div class="m-3">
		<a href="{{ path('wild_index') }}">
			Retour à l'accueil
		</a>
	</div>
{% endblock %}
